<div>
    <h1>Custom-observable</h1> <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">toArray with interval</div>
                <div class="card-body">
                    <ul class="error" id="toArrayWithInterval">
                        <li>Karan</li>
                        <li>duggal</li>
                        <li>Linux</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">toArray with of</div>
                <div class="card-body">
                    <ul class="complete" id="toArrayWithOf">
                        <li>Karan</li>
                        <li>duggal</li>
                        <li>Linux</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">toArray with from</div>
                <div class="card-body">
                    <ul id="toArrayWithFrom"></ul>
                </div>
            </div>
        </div>
    </div>
</div>