<div>
    <h1>Custom-observable</h1> <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Custom observer (manual)</div>
                <div class="card-body">
                    <ul [ngClass]="customObserverManualStatus ==='Error' ? 'error' : customObserverManualStatus ==='Complete' ? 'complete' : ''" id="customObserverManual">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">toArray with of</div>
                <div class="card-body">
                    <ul  [ngClass]="customObserverIntervalStatus ==='Error' ? 'error' : customObserverIntervalStatus ==='Complete' ? 'complete' : ''" id="customObserverInterval">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>