<div>
    <h1>Interval</h1> <br>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Add Video</div>
                <div class="card-body">
                    <div #addBtn class="btn btn-primary">Add</div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">video data Stream With Interval</div>
                <div class="card-body">
                    <ul id="streamWithInterval"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">video Stream with timer</div>
                <div class="card-body">
                    <ul id="streamWithTimer"></ul>
                </div>
            </div>
        </div>
    </div>
</div>