<div>
    <h1>Take, TakeLast and TakeUntil</h1> <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Take property name</div>
                <div class="card-body">
                    <ul id="take">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Take Last property name</div>
                <div class="card-body">
                    <ul id="takeLast">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Take Until property name</div>
                <div class="card-body">
                    <ul id="takeUntil">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>