<div>
    <h1>Of And From</h1> <br>
    <h2>Ex - 01(of)</h2>
    <div class="row">
        <div class="col-md-4">
            <p class="bg-light border rounded p-5">
                <strong>Data :- </strong> Of('duggal','karan')
            </p>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Of</div>
                <div class="card-body">
                    <ul id="of"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Of</div>
                <div class="card-body">
                    <ul>
                        <li><strong>a : </strong>{{obsMsg.a}}</li>
                        <li><strong>b : </strong>{{obsMsg.b}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h2>Ex - 02(from)</h2>
    <div class="row">
        <div class="col-md-4">
            <strong>Array</strong>
            <p class="bg-light border rounded p-5">
                <strong>Data :- </strong> Array(['duggal','karan'])
            </p>
            <hr>
            <ul id="fromArray">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex - 02(Promise)</strong>
             <p class="bg-light border rounded p-5">
                <strong>Data :- </strong> Promise to observable ('duggal','karan')
            </p>
            <hr>
            <ul id="Promise">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex - 02(string)</strong>
             <p class="bg-light border rounded p-5">
                <strong>Data :- </strong> string to observable ('duggal','karan')
            </p>
            <hr>
            <ul id="String">
            </ul>
        </div>
    </div>
</div>

