<div class="row">
  <div class="col-md-12">
    <ul class="list">
      <li><a [routerLink]="['/observable/fromevent']">Form Event</a></li>
      <li><a [routerLink]="['/observable/interval']">Interval</a></li>
      <li><a [routerLink]="['/observable/of-from']">Of From</a></li>
      <li><a [routerLink]="['/observable/to-array']">To Array</a></li>
      <li><a [routerLink]="['/observable/custom-observable']">Custom observable</a></li>
      <li><a [routerLink]="['/observable/map']">Map</a></li>
      <li><a [routerLink]="['/observable/pluck']">Pluck</a></li>
      <li><a [routerLink]="['/observable/filter']">Filter</a></li>
      <li><a [routerLink]="['/observable/tap']">Tap</a></li>
      <li><a [routerLink]="['/observable/take']">Take</a></li>
      <li><a [routerLink]="['/observable/retry']">Retry, RetryWhen, Scan and Delay</a></li>
      <li><a [routerLink]="['/observable/debounceTimeAndDistinctUntilChanged']">DebounceTime And DistinctUntilChanged</a></li>
      <li><a [routerLink]="['/observable/subject']">Subject</a></li>
      <li><a [routerLink]="['/observable/replay']">Replay</a></li>
      <li><a [routerLink]="['/observable/async-subject']">Async Subject</a></li>
    </ul>
  </div>
</div>
