<div>
    <h1>Custom-observable</h1> <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Pluck property name</div>
                <div class="card-body">
                    <ul id="pluckPropertyName">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Pluck nested property name</div>
                <div class="card-body">
                    <ul id="pluckNestedPropertyName">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>