<div class="my-3">
    <div class="row">
        <div class="col">
            <h3>Merge</h3>
        </div>
    </div>
    <hr>
    <!-- <div class="row justify-content-center">
        <div class="col-md-3">
            <input type="text" class="form-control" [formControl]="addVideo" (keydown.enter)="addVideoFun()">
        </div>
        <div class="col-md-4">
            <button class="btn btn-success" (click)="addVideoFun()">Add video</button>
        </div>
    </div> -->
    <hr>
    <div class="row">
        <div class="col-md-4">
            <strong>Source - 01 | Tech channel(5)</strong>
            <hr>
            <p>
                <strong>Tech video list</strong> 
            </p>
            <ul id="techChannel">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Source - 01 | dragon ball z channel(3)</strong>
            <hr>
            <p>
                <strong>dragon ball z video list : </strong>
            </p>
            <ul id="dragonBallZChannel">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Source - 01 | Linux channel(4)</strong>
            <hr>
            <p>
                <strong>Linux video list : </strong>
            </p>
            <ul id="linuxChannel">
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Your channel subscriber
                </div>
                <div class="card-body">
                    <ul id="finalData">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>