<div>
    <h1>DebounceTime And DistinctUntilChanged</h1> <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Ex.DebounceTime </div>
                <div class="card-body">
                    <input class="form-control mb-3" placeholder="Search..." [formControl]="search">
                    <ul>
                        <li *ngFor="let data of arrData">{{data}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>