<div>
    <h1>Filter</h1> <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Filter by age</div>
                <div class="card-body">
                    <ul id="filterByAge">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">filter by gender</div>
                <div class="card-body">
                    <ul id="pluckNestedPropertyName">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>