<div class="my-3">
    <div class="row">
        <div class="col">
            <h3>Concat-Map</h3>
        </div>
    </div>
    <hr>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <strong>Ex - 01 | MAP</strong>
            <hr>
            <p>
                <strong>Tech video list</strong> 
            </p>
            <ul id="map">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex - 01 | concat + concatAll</strong>
            <hr>
            <p>
                <strong>dragon ball z video list : </strong>
            </p>
            <ul id="mapPlusConcatAll">
            </ul>
        </div>
        <div class="col-md-4">
            <strong>Ex - 01 | concatMap</strong>
            <hr>
            <p>
                <strong>Linux video list : </strong>
            </p>
            <ul id="concatAll">
            </ul>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Your channel subscriber
                </div>
                <div class="card-body">
                    <ul id="finalData">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>